.header-icons {
    z-index: 200;
    padding-left: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.logo-section {
    position: relative;
}

.logo-icon {
    height: 75px;
    width: 75px;
    background-color: white;
}

.description {
    /* background-color: white; */
    white-space: nowrap;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    right: -125px;
}

.user-dashboard {
    background-color: rgb(255, 213, 219);
    height: 30px;
    padding: 20px 7px;
    border-radius: 300px;
    border-width: 0.9px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s;
    margin-right: 25px;
}

.user-icon {
    height: 25px;
    width: 25px;
    padding: 0 1px;
}

.user-dashboard:hover {
    background-color: rgb(252, 130, 148);
    cursor: pointer;
}


.navbar {
    z-index: 3;
    position: fixed;
    top: 101px;
    left: 0;
    bottom: 0;
    width: 90px;
    background-color: rgb(255, 202, 210);
    cursor: pointer;
    border-right-style: solid;
    border-right-width: 0.5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.navbar-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85px;
    margin-bottom: 1px;
    transition: 0.15s;
    position: relative;
}

.bottom-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 90px;
    transition: 0.15s;
    position: relative;
    bottom: 0;
    right: 0;
}

.bottom-icon:hover,
.navbar-icons:hover {
    background-color: rgb(255, 222, 222);
}


.bottom-bar img,
.bottom-icon img,
.navbar-icons img {
    height: 45px;
    width: 45px;
}

.service-icons .tool-tip,
.bottom-icon .tool-tip,
.navbar-icons .tool-tip {
    font-family: Montserrat;
    font-size: 10px;
    position: absolute;
    right: -50px;
    bottom: 7px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    background-color: rgb(254, 150, 150);
    padding: 4px;
    border-radius: 5px;
}

.service-icons:hover .tool-tip,
.bottom-icon:hover .tool-tip,
.navbar-icons:hover .tool-tip {
    opacity: 1;
    z-index: 2;
}

.navbar2 {
    z-index: 4;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: top;

}


.bottom-bar {
    z-index: 200;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 120px;
    padding-left: 90px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top-style: solid;
    border-top-width: 0.5px;
    border-top-color: rgb(0, 0, 0);
    margin-top: 50px;
}

.contact-icons {
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.contact-icons :hover {
    transform: scale(1.3);
}