.doctor-data {
    margin-top: -30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 40px;
    box-shadow: inset 0 -5px 5px rgba(55, 55, 55, 0.03);

}


.doctor-name {
    padding: 40px 15px;
    position: relative;
}

.doctor-name .tool-tip {
    position: absolute;
    left: 20px;
    bottom: 15px;
    font-family: Montserrat;
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    background-color: rgb(159, 158, 158);
    padding: 4px;
    border-radius: 5px;
}

.doctor-name:hover .tool-tip {
    opacity: 1;
}

.doctor-specialization {
    padding: 40px 15px;
}