.org-medical-camp {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c6bfc2;
    border-radius: 4px;
  }
  
  .form-group button {
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(254, 254, 254);
    background-color: #f079ad;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #df327d;
  }
  
  .doctors-table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
  }
  
  .doctors-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .doctors-table th,
  .doctors-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #f5a2d4;
  }
  
  .doctors-table th {
    background-color:#f079ad;
  }
  
  .doctors-table td {
    vertical-align: top;
  }

  .selected {
    background-color: rgb(231, 165, 203); 
    cursor: pointer; 
  }
  
  .submitBtn{
    background-color:#f079ad; 
  }
  

  .submitBtn:hover {
    background-color: #df327d;
  }
  