.header-icons {
    z-index: 200;
    padding-left: 10px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.link-style {
    height: 100px;
    width: 100px;
}

.logo-section {
    position: relative;
}

.logo-icon {
    height: 100px;
    width: 100px;
    background-color: white;
}

.description {
    white-space: nowrap;
    font-size: 10px;
    position: absolute;
    bottom: 6px;
    right: -100px;
}